# .gitignore

# SSL
cert.pem
key.pem

# Verity databases
cubes.db*
cubes.test.db*
identity.db*
testidentity.db*

# Test artifacts
coverage/

# Logs
debuglogs/

# Private scripts
deployweb.sh

# "Compiled" documentation
verity.pdf
cci.pdf

# macOS
.DS_Store
.AppleDouble
.LSOverride
Archive.zip
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# General junk files
*~
._*

# Python
*.py[cod]
*.pyo
*.pyc
__pycache__
*.so
*.egg
*.egg-info/

# Builds
dist/
build/
distweb/

# Libs
node_modules/

# IDEs and editors
/.idea
/.vscode
*.swp
*.swo
*.swn
*.bak
*.py,cover
*.code-workspace
